{% extends '_base.html' %}
{% load i18n %}

{% block content %}
{% if process == "connect" %}
<h1>{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h1>

<p>{% blocktrans with provider.name as provider %}You are about to connect a new third party account from {{ provider }}.{% endblocktrans %}</p>
{% else %}
<h1>{% blocktrans with provider.name as provider %}Sign In Via Microsoft{% endblocktrans %}</h1>

<p>{% blocktrans with provider.name as provider %}You are about to sign in <strong>to a specific Microsoft tenant</strong> using a third party account from {{ provider }}.  If you are not
  in that tenant it won't work.  This setting is configured by the SOCIALACCOUNT_PROVIDERS in settings.py{% endblocktrans %}.</p>
{% endif %}



<form method="post">
  {% csrf_token %}
  <button type="submit" class="btn btn-primary">{% trans "Continue" %}</button>
</form>
{% endblock %}
